<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="umg.deltadax.mruv" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_trending_flat_white_48dp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MruActivity"
            android:label="@string/title_activity_mru" >
        </activity>
        <activity
            android:name=".MruvActivity"
            android:label="@string/title_activity_mruv" >
        </activity>
        <activity
            android:name=".RespuestasActivity"
            android:label="@string/title_activity_respuestas" >
        </activity>
        <activity
            android:name=".CaidaLibreActivity"
            android:label="@string/title_activity_caida_libre" >
        </activity>
        <activity
            android:name=".TiroParabolicoActivity"
            android:label="@string/title_activity_tiro_parabolico" >
        </activity>
    </application>

</manifest>
